{%  extends 'ui/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Create Competition{% endblock %}

{% block body %}
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="{% trans 'Add Competition' %}">
    </form>
{% endblock %}
