{%  extends 'ui/base.html' %}
{% load static %}
{% load i18n %}
{# Translators: As in Manage Competition X #}
{% block title %}{% trans 'Manage' %} {{ competition.name }}{% endblock %}

{% block body %}
    <dialog id="dialog-add-stage">
        <form method="dialog">
            <section>
                <h3>{% trans 'Add Stage' %}</h3>
                <label>{% trans 'type' %}</label>
                <select id="type-select">
                    {% for type in types %}
                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </section>
            <menu>
                <button id="d_cancel" class="btn" onclick="dialog_cancel_press()">{% trans 'Cancel' %}</button>
                <button id="d_submit" class="btn">{% trans 'Submit' %}</button>
            </menu>
        </form>
    </dialog>
    <h1>{{ competition.name }}</h1>
    <table  class="table">
        <tr>
            <th></th>
            <th>{% trans 'Stage ' %}</th>
            <th>{% trans 'Type' %}</th>
            <th></th>
        </tr>
        <tbody>
        {% for stage in stages %}
            <tr class="{{ stage.1 }}">
                <td>
                    {% if stage.0.appendable_to %}
                        <button class="btn btn-link" onclick="add_stage_button_press({{ stage.0.number }})">
                            <i class="fas fa-plus-square"></i><i class="fas fa-level-down-alt"></i>
                        </button>
                    {% endif %}
                </td>
                <td>{{ stage.0.number }}</td>
                <td>{% trans stage.0.get_type_display %}</td>
                <td>
                    {% if stage.0.deletable %}
                        <button class="btn btn-danger" onclick="delete_stage_button_press({{ stage.0.id }})">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <h2>{% trans 'Referees' %}</h2>
    <ul>
    {% for referee in referees %}
        <li>{{ referee.user.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
{% block scripts %}
    <script src="{% static 'dialog-polyfill/dialog-polyfill.js'  %}"></script>
    <script>
        function add_stage_button_press(number){
            var dialog = $('#dialog-add-stage')[0];
            var submit_btn = $('#d_submit');

            submit_btn.off('click');
            submit_btn.click(function(){
                var type = $('#type-select').val();
                add_stage(number, type)
            });

            dialogPolyfill.registerDialog(dialog);
            dialog.showModal();
        }
        function dialog_cancel_press(){

        }
        function delete_stage_button_press(id){
            if (confirm('{% trans 'Delete Stage?' %}')){
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
                });
                $.ajax({
                    type:'POST',
                    url: '{% url 'main/competition_endpoint' competition.id %}',
                    data: {
                        'type': 'delete_stage',
                        'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data['success']) {
                            location.reload()
                        } else {
                            $('#main-content').prepend(
                                '<div class="alert alert-danger" role="alert">' +
                            'There was a problem deleting the stage' +
                            '</div>'
                            )
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        $('#main-content').prepend(
                                '<div class="alert alert-danger" role="alert">' +
                            'There was a problem deleting the stage' +
                            '</div>'
                            )
                    }
                })
            }
        }
        function add_stage(number, type){
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            });
            $.ajax({
                type:'POST',
                url: '{% url 'main/competition_endpoint' competition.id %}',
                data: {
                    'type': 'add_stage',
                    'stage_type': type,
                    'number': number
                },
                dataType: 'json',
                success: function (data) {
                    if (data['success']) {
                        location.reload()
                    } else {
                        $('#main-content').prepend(
                            '<div class="alert alert-danger" role="alert">' +
                        'There was a problem adding a stage' +
                        '</div>'
                        )
                    }
                },
                error: function (data) {
                    console.log(data);
                    $('#main-content').prepend(
                            '<div class="alert alert-danger" role="alert">' +
                        'There was a problem adding a stage' +
                        '</div>'
                        )
                }
            })

        }
    </script>
{% endblock %}