{% extends 'ui/base.html' %}
{% load static %}
{% load i18n %}
{# Translators: As in Manage Competition X #}
{% block title %}{% trans 'Manage' %} {{ competition.name }}{% endblock %}

{% block body %}
    <dialog id="dialog-add-stage">
        <form method="dialog">
            <section>
                <h3>{% trans 'Add Stage' %}</h3>
                <label>{% trans 'type' %}</label>
                <select id="type-select">
                    {% for type in types %}
                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </section>
            <menu>
                <button id="d_cancel" class="btn" onclick="dialog_cancel_press()">{% trans 'Cancel' %}</button>
                <button id="d_submit" class="btn">{% trans 'Submit' %}</button>
            </menu>
        </form>
    </dialog>
    <div id="csv_help_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'CSV file upload help' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% static 'ui/demo_files/demo_entry_data.csv' as demo_csv %}
                    {% blocktrans %}
                        <p>
                            CSV file's row's should be in the format:
                        </p>
                        <p>
                            "competitor name","club name","licence number",seed
                        </p>
                        <p>
                            <a href="{{ demo_csv }}">Here</a> is an example csv file
                        </p>
                        Notes:
                        <ul>
                            <li>licence numbers must be unique and less than 12 characters long</li>
                            <li>Seeds can be the same</li>
                            <li>Seeds do not need to be in order or contiguous</li>
                            <li>To convert from ranking points to seed lazily just make all ranking points negative and use them as a seed</li>
                        </ul>
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
    <h1>{{ competition.name }}</h1>
    <table class="table">
        <tr>
            <th>
                {% if not stages %}
                    <button class="btn btn-link" onclick="add_stage_button_press(0)">
                        <i class="fas fa-plus-square"></i><i class="fas fa-level-down-alt"></i>
                    </button>
                {% endif %}
            </th>
            <th>{% trans 'Stage ' %}</th>
            <th>{% trans 'Type' %}</th>
            <th></th>
        </tr>
        <tbody>
        {% for stage in stages %}
            <tr class="{{ stage.1 }}">
                <td>
                    {% if stage.0.appendable_to %}
                        <button class="btn btn-link" onclick="add_stage_button_press({{ stage.0.number }})">
                            <i class="fas fa-plus-square"></i><i class="fas fa-level-down-alt"></i>
                        </button>
                    {% endif %}
                </td>
                <td>{{ stage.0.number }}</td>
                <td>
                    <a href="{% url 'ui/manage_stage'  org_slug competition.id stage.0.id %}">
                        {% trans stage.0.get_type_display %}
                    </a>
                </td>
                <td>
                    {% if stage.0.deletable %}
                        <button class="btn btn-danger" onclick="delete_stage_button_press({{ stage.0.id }})">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>{% trans 'Entries' %}</h2>
    {% if entries %}
        <ol>
            {% for entry in entries %}
                <li>{{ entry.competitor.name }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <form>
            <label>Upload CSV file</label>
            <input id="csv-upload" type="file" onchange="csv_file_selected()">
            <button type="button" class="btn" data-toggle="modal" data-target="#csv_help_modal">
                <i class="fas fa-question-circle"></i>
            </button>
        </form>
    {% endif %}
    <h2>{% trans 'Referees' %}</h2>
    <ul>
        {% for referee in referees %}
            <li>{{ referee.user.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block scripts %}
    <script src="{% static 'dialog-polyfill/dialog-polyfill.js' %}"></script>
    <script>
        function add_stage_button_press(number) {
            var dialog = $('#dialog-add-stage')[0];
            var submit_btn = $('#d_submit');

            submit_btn.off('click');
            submit_btn.click(function () {
                var type = $('#type-select').val();
                add_stage(number, type)
            });

            dialogPolyfill.registerDialog(dialog);
            dialog.showModal();
        }

        function dialog_cancel_press() {

        }

        function delete_stage_button_press(id) {
            if (confirm('{% trans 'Delete Stage?' %}')) {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '{% url 'main/competition_endpoint' competition.id %}',
                    data: {
                        'type': 'delete_stage',
                        'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data['success']) {
                            location.reload()
                        } else {
                            $('#main-content').prepend(
                                '<div class="alert alert-danger" role="alert">' +
                                'There was a problem deleting the stage' +
                                '</div>'
                            )
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        $('#main-content').prepend(
                            '<div class="alert alert-danger" role="alert">' +
                            'There was a problem deleting the stage' +
                            '</div>'
                        )
                    }
                })
            }
        }

        function add_stage(number, type) {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            $.ajax({
                type: 'POST',
                url: '{% url 'main/competition_endpoint' competition.id %}',
                data: {
                    'type': 'add_stage',
                    'stage_type': type,
                    'number': number
                },
                dataType: 'json',
                success: function (data) {
                    if (data['success']) {
                        location.reload()
                    } else {
                        $('#main-content').prepend(
                            '<div class="alert alert-danger" role="alert">' +
                            'There was a problem adding a stage' +
                            '</div>'
                        )
                    }
                },
                error: function (data) {
                    console.log(data);
                    $('#main-content').prepend(
                        '<div class="alert alert-danger" role="alert">' +
                        'There was a problem adding a stage' +
                        '</div>'
                    )
                }
            })

        }

        function csv_file_selected() {
            var file = $('#csv-upload')[0].files[0];
            data = new FormData();
            data.append('file', file);
            data.append('type', 'entry_csv');

            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            $.ajax({
                url: '{% url 'main/competition_endpoint' competition.id %}',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data['success']) {
                        location.reload()
                    } else {
                        console.log(data);
                        $('#alerts').append('<div class="alert alert-danger">' + data['verbose_reason'] + '</div>');
                    }
                },
                error: function (data) {
                    $('#alerts').append('<div class="alert alert-danger"> {% trans 'Error communcating with server' %} </div>');
                }
            });
        }
    </script>
{% endblock %}