{%  extends 'ui/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Manage' %} {% trans 'Cull Stage' %}{% endblock %}

{% block styles %}
    <style>
        .list-group {
            display:inline-block; /* You can use inline also */
        }
    </style>
{% endblock %}

{% block body %}
    <h2>{% trans 'Confirm Cull' %}</h2>
    <br>
    <ul class="list-group">
        {% for e in survivors %}
            <div class="list-group-item list-group-item-success">{{ e }}</div>
        {% endfor %}
        {% for e in culled %}
            <div class="list-group-item list-group-item-warning">{{ e }}</div>
        {% endfor %}
    </ul>
    <br>
    <br>
    <button type="button" class="btn btn-success" onclick="submit_form()">{% trans "Confirm" %}</button>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'ui/scripts/api_ajax.js' %}"></script>
    <script>
        function submit_form(){
            let success = function(data){
                location.reload();
            };
            let data = {
                    'type': 'confirm_cull'
            };
            api_post('{% url 'main/stage_endpoint' stage.id %}', data, success);
        }

    </script>
{% endblock %}