{%  extends 'ui/base.html' %}
{% load static %}
{% load i18n %}
{% load rules %}

{% block title %}{{ org.name }}{% endblock %}

{% block body %}
    <h1>{% trans 'Organisations' %}</h1>


    <h2>{% trans "Your Organisations" %}</h2>
    <table>
        {% for org in user_orgs %}
            <tr>
                <td><a href="{% url 'ui/organisation/show' org.slug %}">{{ org.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Organisations" %}</h2>
    <table>
        {% for org in other_orgs %}
            <tr>
                <td>{{ org.name }}</td>
                <td>
                    {% if user.is_active %}
                        <button type="button" class="btn btn-primary" onclick="send_application('{% url 'main/organisation_endpoint' org.id %}')">{% trans 'Apply' %}</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    <script src="{% static 'ui/scripts/api_ajax.js' %}"></script>
    <script>
        function send_application(target){
            let data = {'user_id': {{ user.id }},
                'type': 'join_request'};
            let success = function (data) {location.reload();};
            api_post(target, data,success)
        }
    </script>
{% endblock %}