{%  extends 'ui/base.html' %}
{% load i18n %}
{% load rules %}

{% block title %}{{ org.name }}{% endblock %}

{% block body %}
    <h1>{{ org.name }}</h1>

    <h2>{% trans "Members" %}</h2>
    <ul class="list-group">
        {% for member in full_members %}
            <li class="list-group-item">{{ member.user.username }}</li>
        {% endfor %}
    </ul>

    {% if can_manage %}
        <h2>{% trans "Applicants" %}</h2>
        <ul class="list-group">
            {% for applicant in applicants %}
                <li class="list-group-item">
                    <button class="btn btn-success" type="button" onclick="accept_application({{ applicant.user.id }})">
                        Accept
                    </button>
                    {{ applicant.user.username }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        function accept_application(user_id){
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            $.ajax({
                type:'POST',
                url: '{% url 'main/organisation_endpoint' org.id %}',
                data: {
                    'type': 'accept_application',
                    'user_id': user_id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data['success']) {
                        location.reload()
                    } else {
                        var error;
                        if (data['reason'] == "User is already a full member"){
                            location.reload()
                        } else {
                            error = data['reason']
                        }
                        let alert = '<div class="alert alert-danger" role="alert">' + error + '</div>';
                        $("#main-content").prepend(alert)
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
    </script>
{% endblock %}