{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "jquery-ui-dist/jquery-ui.min.css"%}">
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css"%}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div id="main-content">
        {% block body %}
        {% endblock %}
    </div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>